chrome-extension/example-workflow.json
{
  "name": "Extension Test Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "extension-test"
    },
    {
      "parameters": {
        "systemPrompt": "You are a helpful AI assistant. Respond concisely and helpfully.",
        "userPrompt": "={{$json.body.text}}",
        "temperature": 0.8
      },
      "id": "chrome-prompt-ai",
      "name": "Chrome Prompt AI",
      "type": "n8n-nodes-chrome-ai.chromePromptAi",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "chromeAiApi": {
          "id": "1",
          "name": "Chrome AI Bridge"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, result: $json.aiResult, input: $('Webhook').item.json.body.text, context: $('Webhook').item.json.body.context, timestamp: new Date().toISOString() } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Chrome Prompt AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chrome Prompt AI": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-10-21T12:00:00.000Z",
  "versionId": "1"
}

