examples/02-content-pipeline.json
{
  "name": "AI Content Pipeline",
  "nodes": [
    {
      "parameters": {
        "content": "This is a very long article about the future of AI automation and how it will transform business workflows. Local AI models like Gemini Nano are revolutionizing privacy-first automation..."
      },
      "id": "set-content",
      "name": "Set Content",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "text": "={{$json.content}}",
        "type": "tl;dr",
        "length": "short"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-chrome-ai.chromeSummarizer",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "chromeAiApi": {
          "id": "1",
          "name": "Chrome AI Bridge"
        }
      }
    },
    {
      "parameters": {
        "text": "={{$json.summary}}",
        "tone": "casual",
        "length": "same"
      },
      "id": "rewrite-casual",
      "name": "Make it Casual",
      "type": "n8n-nodes-chrome-ai.chromeRewriter",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "chromeAiApi": {
          "id": "1",
          "name": "Chrome AI Bridge"
        }
      }
    },
    {
      "parameters": {
        "text": "={{$json.rewrittenText}}"
      },
      "id": "proofread",
      "name": "Proofread",
      "type": "n8n-nodes-chrome-ai.chromeProofreader",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": {
        "chromeAiApi": {
          "id": "1",
          "name": "Chrome AI Bridge"
        }
      }
    }
  ],
  "connections": {
    "Set Content": {
      "main": [[{ "node": "Summarize", "type": "main", "index": 0 }]]
    },
    "Summarize": {
      "main": [[{ "node": "Make it Casual", "type": "main", "index": 0 }]]
    },
    "Make it Casual": {
      "main": [[{ "node": "Proofread", "type": "main", "index": 0 }]]
    }
  }
}

